.footer {
    position: relative;
    background-color:#f8f9fa;
    text-align: center;
    padding-top:20px;        
    padding-bottom:20px; 
    
    z-index: 100;
  
    .social-icons{
        color:black;
        font-size:70px;
    }
    
    .icon {
        padding: 5px;
    }
    
    img, .logo-text {
        display: inline-block;
        color:black;
    }
    
    
    img {
        width: 8vh;
        height: 8vh;
        vertical-align: bottom;
    }
    
    .footer-text, p {
        margin-top: 15px;
        color:black;
        font-style: Montserrat;
        line-height: 15px;
    }
    
    .logo-text {
        font-size: 45px;
        font-family: 'AR CHRISTY' /*Sonsie One'*/;
        
    }
  }